<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
   <!-- {% load static %}-->
    <link rel="stylesheet" type="text/css" href="{% static 'css/bemvindo.css' %}">
    <link rel="stylesheet" href="css/bemvindo.css">
</head>

    <body>
        <div class="phone-container">
           
            <div class="top-bar">
                
                <img src="imagens/surgitec-logo-branco.svg" alt="Logo Surgitec" class="logo">
            </div>
                <div class="top-bar">
             
        </div>
      <div class="welcome-section">          
    <h1>Olá</h1>
    <p>Bem-vindo ao sistema de gerenciamento de PDFs da Surgitec!</p>
    <!--<a href="cadastrar_funcionario/" class="btn">Cadastrar Funcionário</a>-->
    <div class= "welcome-section">
        <div class="bottom-nav2">
         <a href="cadastrar_funcionario.html">Cadastrar Novo Úsuario</a>
        <!--<a href="login/" class="btn">Logar</a> --> </div>
         <div class="bottom-nav2">
        <a href="login.html">Login</a>
</div>
</div>
</div>
</body>
</html>