<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastrar Funcionário</title>
    <link rel="stylesheet" href="css/styleS.css">
    <!--<link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">-->
</head>
<body>
    <div class="phone-container">
        <div class="form-box">
            <!-- Logo (opcional) -->
            <img src="imagens/surgitec-logo-cor.png" alt="Logo Surgitec" class="logo">
            
            <h1>Login</h1>
            <form method="POST">
                <!--{% csrf_token %}-->
                
                <div class="input-group">
                    <label for="usuario">Usuário:</label>
                    <input type="text" id="usuario" name="usuario" required>
                </div>
                <div class="input-group">
                    <label for="senha">Senha:</label>
                    <input type="password" id="senha" name="senha" required>
                </div>
               
                <button type="submit" class="submit-btn">Cadastrar</button>
            </form>
        
            </div>
        </div>
    </div>
</body>
</html>
